{% extends 'layout/base.html' %}

{% block content %}
<!-- ======= Hero Slider Section ======= -->
<section id="hero-slider" class="hero-slider">
  <div class="p-5 mb-4 rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to Our Interactive Image Caption Generator!</h1>
      <p class="col-md-8 fs-4">
        Transforming Images into Captivating Stories.

        Experience AI-driven storytelling like never before and explore interactive features for personalized captions.
      </p>
      <a class="btn btn-primary btn-lg" type="button" href="/upload">
        Upload Image
      </a>
    </div>
  </div>


</section><!-- End Hero Slider Section -->
{% endblock content %}