{% extends 'layout/base.html' %}

{% block content %}
<section>
    <div class="container vh-100">
        <div class="heading-container">
            <h1>Upload Image</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <input type="file" name="image" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        {% if uploaded %}
            <div class="alert alert-success mt-3" role="alert">
                Image uploaded successfully!
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}
